@import '../assets/scss/mixin/breakpoints.scss';

:host {
  width: 100%;
  height: 100%;

  #app-root {
    padding: 12px 28px;
    height: 100%;
  }

  @include breakpoint(md) {
    #app-root {
      padding: 12px 80px;
    }
  }
}